.clearfix::before,
.carousel::after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.carousel {
    margin: 0 auto;
    position: relative;
    width: 560px;
    height: 360px;
    overflow: hidden;
}

.carousel .moveUnit ul li {
    position: absolute;
    left: 560px;
    top: 0;
}

.carousel .moveUnit ul li.first {
    left: 0;
}

.carousel .leftBtn {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    color: #000;
    width: 40px;
    height: 40px;
    position: absolute;
    border: 2px solid #000;
    left: 0;
    top: 50%;
    margin-top: -40px;
}

.carousel .rightBtn {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    color: #000;
    width: 40px;
    height: 40px;
    position: absolute;
    border: 2px solid #000;
    right: 0;
    top: 50%;
    margin-top: -40px;
}

.carousel .slider {
    position: absolute;
    bottom: 0;
}

.carousel .slider img {
    width: 104px;
}

.carousel .slider ol li {
    float: left;
    width: 104px;
    height: 52px;
    /* background-color: #333; */
    /* opacity: 0.5; */
    overflow: hidden;
    text-align: center;
    border: 4px solid #333;
}

.carousel .slider ol li.current {
    /* opacity: 1; */
    border: 4px solid orange;
}

.carousel .slider ol li:hover {
    border-color: orange;
}