.info {
    width: 500px;
    margin: 100px auto;
}

.info h3 {
    color: #fff;
    background-color: #246ddb;
    font-size: 20px;
    line-height: 35px;
    padding: 0 20px;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
}

.info h3 span {
    font-family: monospace;
    position: absolute;
    right: 5px;
    transition: all 0.3s;
    user-select: none;
}

.info h3.current {
    background-color: #a52a2a;
    transition: all 0.3s;
}

.info h3.current span {
    transform: rotate(90deg);
    transition: all 0.3s;
}

.info .content {
    display: none;
    overflow: hidden;
}

.info .content p {
    line-height: 30px;
    font-size: 14px;
    background-color: #ebebeb;
    padding: 10px;
}