<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>百度招聘@</title>
    <link rel="stylesheet" href="css/cssreset-min.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <header>
      <nav></nav>
    </header>

    <div class="social_container">
      <div class="banner_container"></div>
      <div class="job_menu inner_center"></div>
      <div class="job_container inner_center" id="job_container">
        <div class="job_info clearfix">
          <div class="pull_left">
            <h2>职位信息</h2>
          </div>
          <div class="pull_right">
            共<span class="row_count"></span>个在招职位
          </div>
        </div>

        <div class="job_list">
          <div class="list_head">
            <div class="list_row">
              <span class="col1">职位名称</span>
              <span class="col2">职位类别</span>
              <span class="col3">工作地点</span>
              <span class="col4">招聘人数</span>
              <span class="col5">更新时间</span>
            </div>
          </div>
          <div class="list_body">
            <!-- 要替换的部分 -->
            <div id="job_ulli">
              <!-- <li class="list_row">
                            <span class="col1"><a href="">搜索发展部_搜索战略分析师（产品方向）搜索发展部_搜索战略分析师（产品方向</a></span>
                            <span class="col2">产品</span>
                            <span class="col3">北京市</span>
                            <span class="col4">若干</span>
                            <span class="col5">2019-3-25<span class="toogle active"><a href="javascript:;">&gt</a></span></span>

                        </li>
                        <li class="job_detail">
                            <div class="job_duty">
                                <h3>工作职责:</h3>
                                <p>-百度商业产品Android端开发设计、调试工作</p>
                                <p>-根据项目任务计划独立按时完成软件高质量编码和测试工作</p>
                                <p>-规范文档的编写、维护，以及其他与项目相关工作</p>
                                <p>-按照开发流程编写相应模块的设计文档</p>
                                <p>-按时按需完成客户端软件的维护及更新</p>
                            </div>
                            <div class="job_demand">
                                <h3>职位要求</h3>
                                <P>-本科以上学历，计算机相关专业，有扎实的Java语言基础</P>
                                <P>-3年以上Android项目开发经验</P>
                                <P>-熟悉Android框架及各种特性，熟悉面向对象编程</P>
                                <P>-熟悉网络编程、安卓UI框架及相关开发工具</P>
                                <P>-熟悉Android的线程机制，能够熟练使用各种安悉Android系统的线程类，及service、广播等</P>
                                <P>-熟悉SVN或Git等相关的代码管理工具</P>
                                <P>-熟练掌握UDP/TCP/IP、http等网络协议，精通协议设计</P>
                                <P>-精通客户端程序设计方法以及安全的应用层协议设计</P>
                                <P>-精通IM产品，精通C、C++者优先，有大型终端软件架构能力，有上线产品者优先</P>
                            </div>
                            <div class="job_operation">
                                <a href="" class="apply_job" href="javascript:;">申请职位</a>
                                <a href="" class="collect_job" href="javascript:;">收藏职位</a>
                                <a href="" class="share_job" href="javascript:;">分享到：微博 贴吧 QQ空间 微信</a>
                            </div>
                        </li> -->
            </div>
          </div>
        </div>

        <div class="pagination inner_center" id="pagination"></div>
      </div>
    </div>

    <footer></footer>
    <!-- 模板 -->
    <script type="text/template" id="template">
      <ul>
        <li class="list_row">
          <span class="col1"
            ><a href="<%= link %>" target="_blank"><%= name %></a></span
          >
          <span class="col2"><%= postType %></span>
          <span class="col3"><%= workPlace %></span>
          <span class="col4"><%= recruitNum %></span>
          <span class="col5"
            ><%= publishDate %><b class="toogle"
              ><a href="javascript:;">&gt</a></b
            ></span
          >
        </li>
        <li class="job_detail">
          <div class="job_duty">
            <h3>工作职责:</h3>
            <p><%= workContent %></p>
          </div>
          <div class="job_demand">
            <h3>职位要求</h3>
            <p><%= serviceCondition %></p>
          </div>
          <div class="job_operation">
            <a href="" class="apply_job" href="javascript:;">申请职位</a>
            <a href="" class="collect_job" href="javascript:;">收藏职位</a>
            <a href="" class="share_job" href="javascript:;"
              >分享到：微博 贴吧 QQ空间 微信</a
            >
          </div>
        </li>
      </ul>
    </script>

    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
