<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>更改密码</title>

    <link href="/css/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Page level plugin CSS-->
    <style>
        footer.sticky-footer {
            width: 100%;
        }

        #tips {
            display: none;
        }
    </style>

</head>

<body id="page-top" class="bg-success">
    <div id="wrapper">
        <div id="content-wrapper">
            <div class="container-fluid">
                <h1 class="text-center text-light" style="height: 200px; line-height: 200px;">更改密码</h1>
                <div class="card card-login mx-auto mt-5">
                    <div class="card-header" id="header">请输入新密码</div>
                    <div class="card-body">
                        <!-- 登陆表单 -->
                        <form>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="password" id="password" class="form-control" placeholder="密码"
                                        required="required" autofocus="autofocus" name="password">
                                    <label for="password">密码</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="password" id="rePassword" class="form-control" placeholder="再次输入确认密码"
                                        required="required" name="repassword">
                                    <label for="rePassword">再次输入确认密码</label>
                                </div>
                            </div>
                            <div id="tips"></div>
                            <button class="btn btn-primary btn-block" id="loginBtn" type="button">确定修改</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Sticky Footer -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript-->
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/js/jquery/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>

    <script>
        $("#rePassword").on("input", (e) => {
            var password = $("#password").val();

            if (e.target.value !== password) {
                $("#tips").addClass("text-danger").html("两次输入密码不一致").slideDown();
                $("#loginBtn").addClass("disabled");
            } else {
                $("#tips").addClass("text-danger").slideUp();
                $("#loginBtn").removeClass("disabled");
            }
        });

        $("#password").on("input", (e) => {
            var s = checkStrength(e.target.value);
            $("#header").html("密码安全等级：" + s).addClass("text-info")

        })

        //密码强度检测
        function checkStrength(password) {
            var arr = ["极差", "低", "中", "高"]
            var lv = 0; //每次输入清零
            if (password.match(/[a-z]/g)) { lv++; }
            if (password.match(/[0-9]/g)) { lv++; }
            if (password.match(/(.[^a-z0-9])/g)) { lv++; }
            if (password.length < 6) { lv = 0; }
            if (lv > 3) { lv = 3; }
            return arr[lv];
        }

        $("#loginBtn").on("click", () => {
            var password = $("#password").val();
            var rePassword = $("#rePassword").val()
            if (rePassword !== password) {
                $("#tips").addClass("text-danger").html("两次输入密码不一致").slideDown();
                $("#loginBtn").addClass("disabled");
                return;
            }

            $.post("/student/changePwd", {"newPassword": password}, (data) => {
                console.log(data)
                if(data.result === -1) {
                    alert("服务器错误，修改失败");
                }
                // 密码更改成功，跳转到选课页面
                if(data.result === 1) {
                    $(window).attr("location", "/");
                }
            })
        })
    </script>
</body>

</html>