<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>所有课程</title>

    <link href="/css/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/paging.css" rel="stylesheet">

    <style>
        footer.sticky-footer {
            width: 100%;
        }

        #courseTb {
            font-size: 14px;
        }
    </style>

</head>

<body id="page-top" class="bg-info">
    <!-- Navbar -->
    <% include common/nav %>

    <div id="wrapper">
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- /.container-fluid -->
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fas fa-fw fa-graduation-cap"></i> 2019选修课</div>
                            <div class="table-responsive table-striped table-bordered">
                                <table class="table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col" class="text-center" width="80px">编号</th>
                                            <th scope="col" class="text-center">课程名称</th>
                                            <th scope="col" class="text-center">上课时间</th>
                                            <th scope="col" class="text-center">剩余人数</th>
                                            <th scope="col" class="text-center">可报年级</th>
                                            <th scope="col" class="text-center">教师</th>
                                            <th scope="col" class="text-center" width="700px">课程简介</th>
                                            <th scope="col" class="text-center" width="200px">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody id="courseTb">
                                        <!-- 表格内容 -->
                                    </tbody>
                                </table>
                                <!-- 分页 -->
                            </div>
                            <div class="paging"></div>

                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Sticky Footer -->
            <% include common/footer %>
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <% include common/toTopBtn %>

    <!-- Logout Modal-->
    <% include common/logout %>

    <!-- Bootstrap core JavaScript-->
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/js/jquery/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>
    <script src="/js/tablePaging.js"></script>

    <script>
        // 拉取数据，前端分页
        $.post("/", (data) => {
            if (data.result === 1) {
                // console.log(data);
                renderCourseTb(data);
            } else {
                alert("服务器错误");
            }
        });

        function renderCourseTb(data) {
            $courseTb = $("#courseTb");
            var isOpen = data.isOpen;
            var courseArr = data.courses;
            // var
            var rows = 8; //每页10条
            // 分页总页数
            var pageNo = Math.ceil(courseArr.length / rows);
            // 先排序：按照课程编号排序
            courseArr.sort((a, b) => {
                return a.cid - b.cid;
            })
            // 每页内容，放进一个数组
            var onePageArr = courseArr.slice(0, rows);

            $('.paging').page({
                leng: 10,//初始分页数
                activeClass: 'activP', //active 类样式定义
                clickBack: function (page) {

                    // console.log(page);
                    // 跳过几页读一页
                    onePageArr = courseArr.slice((page - 1) * rows, (page - 1) * rows + rows);
                    renderOnePage(onePageArr, data);
                }
            })
            renderOnePage(onePageArr, data);
            // 设置总页数
            $('.paging').setLength(pageNo)


        }
        // 渲染当前页
        function renderOnePage(onePageArr, data) {

            // 先清空当前页
            $courseTb.html("");
            $.each(onePageArr, (i, item) => {
                var domStr = "";
                // console.log(i, item);
                var btnDomStr = check(item, data)
                domStr = ["<tr>",
                    "    <td class=\"text-center\">" + item.cid + "</td>",
                    "    <td class=\"text-center\">" + item.name + "</td>",
                    "    <td class=\"text-center\">" + item.time + "</td>",
                    "    <td class=\"text-center\">" + item.number + "</td>",
                    "    <td class=\"text-center\">" + item.permitGrade + "</td>",
                    "    <td class=\"text-center\">" + item.teacher + "</td>",
                    "    <td class=\"text-left\">" + item.introduction + "</td>",
                    "    <td class=\"text-center\">",
                    btnDomStr,
                    "    </td>",
                    "</tr>"].join("");
                $courseTb.append(domStr);
            })
        }

        // 后台遍历所有课程，检查能否报名,
        // 根据后台检查结果显示不同的按钮
        function check(item, data) {
            var checkResult = data.checkResult;
            var btnDomStr = "";
            if (!data.isOpen) {
                btnDomStr = "<button type=\"button\" class=\"btn btn-secondary\"  disabled >报名未开始或者已经结束</button>"
            } else {
                if (checkResult[item.cid] === "已报名") {
                    // 已报名提供退报按钮
                    btnDomStr = "<button type=\"button\" class=\"btn btn-success cancel\" data-cid = " + item.cid + ">已报，点击退报</button>"
                } else if (checkResult[item.cid] === "可以报名") {
                    // 显示报名按钮
                    btnDomStr = "<button type=\"button\" class=\"btn btn-primary register\" data-cid = " + item.cid + ">报名</button>"
                } else {
                    btnDomStr = "<button type=\"button\" class=\"btn btn-secondary\" disabled >" + checkResult[item.cid] + "</button>"
                }
            }
            return btnDomStr;
        }

        // 监听报名按钮点击事件,事件委托
        $("#courseTb").on("click", ".register", (e) => {
            var cid = $(e.target).attr("data-cid")
            // 发送请求，报名
            $.post("/student/register", { "cid": cid}, (data) => {
                if(data.result === 1) {
                    alert("报名成功");
                    window.location.reload();
                } else {
                    alert("服务器错误，请稍后再试");
                    window.location.reload();
                }
            })
        })
        // 监听退报按钮
        $("#courseTb").on("click", ".cancel", (e) => {
            var cid = $(e.target).attr("data-cid")
            // 发送请求，报名
            $.post("/student/cancel", { "cid": cid}, (data) => {
                // 退报刷新页面
                if(data.result === 1) {
                    alert("退报成功");
                    window.location.reload();
                } else {
                    alert("服务器错误，请稍后再试");
                    window.location.reload();
                }
            })
        })
    </script>
</body>

</html>