<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>已报课程</title>

    <link href="/css/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="/css/sb-admin.css" rel="stylesheet">

    <style>
        footer.sticky-footer {
            width: 100%;
        }

        #courseTb {
            font-size: 14px;
        }
    </style>

</head>

<body id="page-top" class="bg-info">
    <!-- Navbar -->
    <% include common/nav %>

    <div id="wrapper">
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- /.container-fluid -->
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fas fa-fw fa-graduation-cap"></i> 已报课程</div>
                            <div class="table-responsive">
                                <table class="table" id="collectTable">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col" class="text-center" width="80px">编号</th>
                                            <th scope="col" class="text-center">课程名称</th>
                                            <th scope="col" class="text-center">上课时间</th>
                                            <th scope="col" class="text-center">剩余人数</th>
                                            <th scope="col" class="text-center">可报年级</th>
                                            <th scope="col" class="text-center">教师</th>
                                            <th scope="col" class="text-center" width="700px">课程简介</th>
                                            <th scope="col" class="text-center" width="200px">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody id="courseTb">
                                        <!-- 表格内容 -->
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sticky Footer -->
            <% include common/footer %>
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <% include common/toTopBtn %>

    <!-- Logout Modal-->
    <% include common/logout %>

    <!-- Bootstrap core JavaScript-->
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/js/jquery/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>

    <script>
        $.post("/", (data) => {
            if (data.result === 1) {
                renderCourseTb(data);
            } else {
                alert("服务器错误");
            }
        });

        function renderCourseTb(data) {
            $courseTb = $("#courseTb");
            var isOpen = data.isOpen;
            var courseArr = data.courses;

            // 先排序：按照课程编号排序
            courseArr.sort((a, b) => {
                return a.cid - b.cid;
            })

            renderOnePage(courseArr, data);
        }
        // 渲染当前页
        function renderOnePage(courseArr, data) {
            // 先清空当前页
            $courseTb.html("");
            $.each(courseArr, (i, item) => {
                var domStr = check(item, data)
                $courseTb.append(domStr);
            })
        }

        function check(item, data) {
            var checkResult = data.checkResult;
            var domStr = "";
            var btnDomStr = "";


            if (checkResult[item.cid] === "已报名") {
                // 已报课程页面，系统是否开放报名？开放报名提供退报按钮，否则禁用按钮
                var btnDomStr = data.isOpen ? "<button type=\"button\" class=\"btn btn-success cancel\" data-cid = " + item.cid + ">已报，点击退报</button>"
                    :
                    "<button type=\"button\" class=\"btn btn-secondary\"  disabled >系统已关闭，无法退报</button>"

                domStr = ["<tr>",
                    "    <td class=\"text-center\">" + item.cid + "</td>",
                    "    <td class=\"text-center\">" + item.name + "</td>",
                    "    <td class=\"text-center\">" + item.time + "</td>",
                    "    <td class=\"text-center\">" + item.number + "</td>",
                    "    <td class=\"text-center\">" + item.permitGrade + "</td>",
                    "    <td class=\"text-center\">" + item.teacher + "</td>",
                    "    <td class=\"text-left\">" + item.introduction + "</td>",
                    "    <td class=\"text-center\">",
                    btnDomStr,
                    "    </td>",
                    "</tr>"].join("");
            }

            return domStr;
        }

        // 监听退报按钮
        $("#courseTb").on("click", ".cancel", (e) => {
            var cid = $(e.target).attr("data-cid")
            // 发送请求，报名
            $.post("/student/cancel", { "cid": cid }, (data) => {
                // 退报刷新页面
                if (data.result === 1) {
                    alert("退报成功");
                    window.location.reload();
                } else {
                    alert("服务器错误，请稍后再试");
                    window.location.reload();
                }
            })
        })
    </script>
</body>

</html>