.clearfix::before,
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #cfcfcf;
}

header ul.link {
    width: 100%;
    height: 100px;
}
nav {
    width: 100%;
    height: 38px;
    background-color: #999;
}

.page1 {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.phonePic {
    padding-top: 50px;
    position: absolute;
    bottom: 0;
    min-width: 1000px;
    overflow: hidden;
    height: 50%;
}
/* 7张图片平分100%的宽度 */
.phonePic .standard li {
    float: left;
    width: 14%;
    padding: 0 0.143%;
}

.phonePic li img {
    position: relative;
    width: 100%;
    transition: all 0.1s ease 0s;
}

.page1 .content {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 30%;
}

.page1 .content h3 {
    width: 100%;
    font-size: 45px;
    font-weight: 100;
    padding-bottom: 20px;
    color: #535353;
}

.page1 .content p a {
    font-size: 18px;
    height: 20px;
    /* display: inline-block; */
    text-decoration: none;
    color: #c0c0c0;
}

.page1 .content p a.active {
    color: #8b8b8b;
}

.page1 .content p i {
    line-height: 20;
    display: inline-block;
    height: 12px;
    border-right: 1px solid #d8d8d8;
    margin: 0 20px;
}
.phonePic li {
    height: 100%;
}
.phonePic li:nth-of-type(1) img {
    padding-top: 120%;
}

.phonePic li:nth-of-type(2) img {
    padding-top: 90%;
}

.phonePic li:nth-of-type(3) img {
    padding-top: 130%;
}

.phonePic li:nth-of-type(4) img {
    padding-top: 90%;
}

.phonePic li:nth-of-type(5) img {
    padding-top: 50%;
}

.phonePic li:nth-of-type(6) img {
    padding-top: 90%;
}

.phonePic li:nth-of-type(7) img {
    padding-top: 120%;
}