<ul class="sidebar navbar-nav">
    <li class="nav-item  <% if(current=='index') { %> active <% }; %>"">
        <a class=" nav-link" href="/admin">
        <i class="fas fa-fw fa-home"></i>
        <span>系统首页</span>
        </a>
    </li>

    <li class="nav-item <% if(current=='student') { %> active <% }; %>">
        <a class="nav-link" href="/admin/student">
            <i class="fas fa-fw fa-address-card"></i>
            <span>学生管理</span></a>
    </li>

    <li class="nav-item  <% if(current=='course') { %> active <% }; %>"">
        <a class=" nav-link" href="/admin/course">
        <i class="fas fa-fw fa-table"></i>
        <span>课程管理</span></a>
    </li>

    <li class="nav-item  <% if(current=='charts') { %> active <% }; %>"">
        <a class=" nav-link" href="/admin/charts">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>报表</span></a>
    </li>
</ul>