html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #81c5fc;
}

/* .test {
    border: 1px solid #fff;
    width: 63px;
    height: 75px;
    background: url("../img/1.png") 0 0 no-repeat;
    background-size: 62px;
    position: absolute;
    left: 100px;
    bottom: 0;
} */

#container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    /* 设置气球的文字无法被选定 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#status {
    text-shadow: 1px 1px 1px #2c2c2c;
    text-align: left;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */
    z-index: 999;
    padding: 5px;
}

#btn {
    width: 80px;
    height: 30px;
    margin: 0;
    border: none;
    color: #fff;
    display: inline-block;
    background: #3d3d3d;
    vertical-align: middle;
    opacity: 0.8;
}

#btn:active {
    background: #181818;
}

.temp {
    display: none;
}

#loading {
    color: #ff4e4e;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50%;
    margin-top: -30px;
    vertical-align: middle;
}
/* 气球 */
.ballon {
    position: absolute;
    color: #fff;
    font-size: 30px;
    text-align:center;
    width: 63px; height: 234.5px;
    background-size: 62px 234.5px;
    background: url(../img/balloon.png) no-repeat;
}
/* 气球可点击区域 */
.ballon .target {
    width: 63px;
    height: 60px;
    padding-top: 10px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: crosshair;
}