.clearfix::before,
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.jigsaw {
    margin: 0 auto;
    position: relative;
    width: 560px;
    height: 300px;
    border: 2px solid #000;
    overflow: hidden;
}

.jigsaw .allImg ul li {
    position: absolute;
    left: 560px;
    top: 0;
}

.jigsaw .allImg ul li.first {
    left: 0;
}

.jigsaw .leftBtn {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    color: #000;
    width: 40px;
    height: 40px;
    position: absolute;
    border: 2px solid #000;
    left: 0;
    top: 50%;
    margin-top: -20px;
    z-index: 33;
}

.jigsaw .rightBtn {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    color: #000;
    width: 40px;
    height: 40px;
    position: absolute;
    border: 2px solid #000;
    right: 0;
    top: 50%;
    margin-top: -20px;
    z-index: 33;
}

.jigsaw .slider {
    position: absolute;
    left: 50%;
    bottom: 5px;
    margin-left: -100px;
}

.jigsaw .slider ol li {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.5;
}

.jigsaw .slider ol li.current {
    opacity: 1;
}

.divWrap {
    width: 560px;
    height: 300px;
    /* position: absolute;
    left: 560px;
    top: 0;
    border: 1px solid #333; */
}

.divWrap div {
    /* border: 1px solid #333; */
}