<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>选修课报名系统 - 404 Error</title>

    <link href="/css/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

    <div id="wrapper">
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Page Content -->
                <h1 class="display-1">404 Not Found</h1>
                <p class="lead">页面不存在,你可以
                    <a href="javascript:history.back()">返回</a>
                    之前的页面
            </div>
        </div>
    </div>

</body>

</html>