<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>选修课报名系统 - 添加管理员</title>

    <link href="/css/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="/css/sb-admin.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- 页面公共部分Nav Sidebar Footer toTopBtn logout-->

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="content-wrapper">

            <div class="container-fluid">
                <!-- Page Content -->
                <h1>添加管理员</h1>
                <hr>
                <form class=" col-4" action="addadmin" method="POST">
                    <div class="form-group">
                        <label for="user">设置管理员账号</label>
                        <input type="text" class="form-control" id="user" name="adminUsername">
                    </div>
                    <div class="form-group">
                        <label for="password">设置管理员密码</label>
                        <input type="text" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript-->
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/js/jquery/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>
</body>

</html>