<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>选修课报名系统</title>
    <!-- jqGrid组件基础样式包-必要 -->
    <link rel="stylesheet" href="/css/jqgrid/css/ui.jqgrid.css" />

    <!-- jqGrid主题包-非必要 -->
    <!-- 在jqgrid/css/css这个目录下还有其他的主题包，可以尝试更换看效果 -->
    <link rel="stylesheet" href="/css/jqgrid/css/css/hot-sneaks/jquery-ui-1.8.16.custom.css" />

    <link href="/css/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="/css/sb-admin.css" rel="stylesheet">

    <style>
        /* 课程简介部分太长，自动换行 */
        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: auto;
            vertical-align: middle;
            font-size: 14px;
        }
    </style>

    <!-- Page level plugin CSS-->
</head>

<body id="page-top">
    <!-- Nav -->
    <% include common/nav %>

    <div id="wrapper">

        <!-- Sidebar -->
        <% include common/sidebar %>

        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin">首页</a>
                    </li>
                    <li class="breadcrumb-item active">课程列表</li>
                    <li class="breadcrumb-item">
                        <a href="/admin/course/import">导入课程</a>
                    </li>
                </ol>

                <!-- DataTables Example -->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        课程列表</div>
                    <!-- <div class="card-body"> -->
                    <!-- <div class="table-responsive"> -->
                    <table class="table-responsive table table-bordered" id="list2" width="100%" cellspacing="0">
                    </table>
                    <div id="pager2"></div>
                    <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>
            <!-- /.container-fluid -->

            <!-- Sticky Footer -->
            <% include common/footer %>

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <% include common/toTopBtn %>

    <!-- Logout Modal-->
    <% include common/logout %>

    <!-- Bootstrap core JavaScript-->
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/js/jquery/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="/js/chart.js/Chart.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>

    <!-- jqGrid插件包-必要 -->
    <script type="text/javascript" src="/js/jqgrid/js/jquery.jqGrid.src.js"></script>

    <!-- jqGrid插件的多语言包-非必要 -->
    <!-- 在jqgrid/js/i18n下还有其他的多语言包，可以尝试更换看效果 -->
    <script type="text/javascript" src="/js/jqgrid/js/i18n/grid.locale-cn.js"></script>

    <script>
        $(function () {
            //页面加载完成之后执行
            pageInit2();
        });
        function pageInit2() {
            //创建jqGrid组件
            $("#list2").jqGrid(
                {
                    url: "/admin/course",//组件创建完成之后请求数据的url
                    editurl: "/admin/course",
                    datatype: "json",//请求数据返回的类型。可选json,xml,txt
                    colNames: ['_id', '课程编号', '课程名称', '上课时间', '可报人数', '可报名年级', '教师', '课程简介'],//jqGrid的列显示名字
                    colModel: [ //jqGrid每一列的配置信息。包括名字，索引，宽度,对齐方式.....
                        { name: '_id', index: '_id', "hidden": true, key: true},
                        // editrules表单验证，比如必填不能为空
                        { name: 'cid', index: 'cid', "editable": true, edittype: "text", width: 15, align: "center", editrules: {edithidden:true,required:true,number:true,minValue:0}},
                        { name: 'name', index: 'name', "editable": true, edittype: "text", width: 30, align: "center", editrules: {edithidden:true,required:true}},
                        { name: 'time', index: 'time', "editable": true, edittype: "select", editoptions: { value: "周一:周一;周二:周二;周三:周三;周四:周四;周五:周五" }, width: 15, align: "center" },
                        { name: 'number', index: 'number', "editable": true, edittype: "text", width: 15, align: "center" ,  editrules: {edithidden:true,required:true,number:true,minValue:0}},
                        // 允许报名的年级，后台返回字符串数组可以直接显示。逗号分隔的字符串提交到后台mongoose会根据schema自动转为数组存入数据库
                        { name: 'permitGrade', index: 'permitGrade', "editable": true, edittype: "text", width: 30, align: "center", editrules:{edithidden:true,required:true} },

                        { name: 'teacher', sortable: false, width: 15, align: "center", editrules:{edithidden:true,required:true}},
                        { name: 'introduction', "editable": true, edittype: "textarea", sortable: false, width: 100, align: "left", editrules:{edithidden:true,required:true} },
                    ],
                    rowNum: 10,//一页显示多少条
                    rowList: [10, 20, 30, 40, 50, 100],//可供用户选择一页显示多少条
                    pager: '#pager2',//表格页脚的占位符(一般是div)的id
                    sortname: 'cid',//初始化的时候排序的字段
                    sortorder: "asc",//排序方式,可选desc,asc
                    mtype: "post",//向后台请求数据的ajax的类型。可选post,get
                    viewrecords: true,
                    height: "100%",
                    // 设置宽度为容器的宽度
                    width: $(".container-fluid").width() - 2,
                    // caption: "JSON Example",//表格的标题名字
                    // 定义jsonReader来跟服务器端返回的数据做对应
                    jsonReader: {
                        root: "rows", //包含实际数据的数组
                        page: "currpage", //当前页
                        total: "totalpages", //总页数
                        records: "totalrecords", //查询出的记录数
                        cell: "cell"
                    },
                    multiselect: true,
                    multiboxonly: true, //只有选择checkbox才会起作用

                    loadError: Z_AfterSubmit_Edit,
                });
            /*创建jqGrid的操作按钮容器*/
            /*可以控制界面上增删改查的按钮是否显示*/
            $("#list2").jqGrid("navGrid", "#pager2", { edit: true, add: true, del: true });
            // 添加下载按钮
            $("#list2").navButtonAdd('#pager2', {
                caption: "导出Excel",
                buttonicon: "ui-icon-excel",
                onClickButton: () => {
                    $.post("/admin/course", {
                        "_search": false,
                        "oper": "download",
                    }, (data) => {
                        // 重定向到文件触发下载
                        $(window).attr("location", data);
                    })
                },
                position: "last",
            });

            function Z_AfterSubmit_Edit(response, postdata) {
                console.log(response, postdata)
                // var DialogVars = $.parseJSON(response.responseText);//响应信息
                // $infoTr = $("#TblGrid_" + $.jgrid.jqID(this.id) + ">tbody>tr.tinfo"),
                //     $infoTd = $infoTr.children("td.topinfo");//信息栏
                // if (DialogVars.success) {
                //     var myInfo = '<div class="ui-state-highlight ui-corner-all">' +
                //         '<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>' +
                //         DialogVars.message +
                //         '</div>'
                //     $infoTd.html(myInfo);
                //     $infoTr.show();
                //     return [true, myInfo, ""];
                // } else {
                //     var myInfo = //'<div class="ui-state-highlight ui-corner-all">' +
                //         '<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>' +
                //         DialogVars.message +
                //         '</div>'
                //     //错误信息是在id为FormError的单元格显示
                //     $infoTr.hide();//隐藏信息栏以免同时显示info和FormError
                //     return [false, myInfo, ""];
                // }
            }

            $(window).resize(() => {
                $("#list2").setGridWidth($(".container-fluid").width() - 2);
            });
        }
    </script>
</body>

</html>