<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>选修课报名系统</title>
    <!-- jqGrid组件基础样式包-必要 -->
    <link rel="stylesheet" href="/css/jqgrid/css/ui.jqgrid.css" />

    <!-- jqGrid主题包-非必要 -->
    <!-- 在jqgrid/css/css这个目录下还有其他的主题包，可以尝试更换看效果 -->
    <link rel="stylesheet" href="/css/jqgrid/css/css/hot-sneaks/jquery-ui-1.8.16.custom.css" />

    <link href="/css/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Page level plugin CSS-->
</head>

<body id="page-top">
    <!-- Nav -->
    <% include common/nav %>

    <div id="wrapper">

        <!-- Sidebar -->
        <% include common/sidebar %>

        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin">首页</a>
                    </li>
                    <li class="breadcrumb-item active">所有学生</li>
                    <li class="breadcrumb-item">
                        <a href="/admin/student/import">导入学生</a>
                    </li>
                </ol>

                <!-- DataTables Example -->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        学生列表</div>
                    <!-- <div class="card-body"> -->
                    <!-- <div class="table-responsive"> -->
                    <table class="table-responsive table table-bordered" id="list" width="100%" cellspacing="0">
                    </table>
                    <div id="pager"></div>
                    <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>
            <!-- /.container-fluid -->

            <!-- Sticky Footer -->
            <% include common/footer %>

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <% include common/toTopBtn %>

    <!-- Logout Modal-->
    <% include common/logout %>

    <!-- Bootstrap core JavaScript-->
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/js/jquery/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="/js/chart.js/Chart.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>

    <!-- jqGrid插件包-必要 -->
    <script type="text/javascript" src="/js/jqgrid/js/jquery.jqGrid.src.js"></script>

    <!-- jqGrid插件的多语言包-非必要 -->
    <!-- 在jqgrid/js/i18n下还有其他的多语言包，可以尝试更换看效果 -->
    <script type="text/javascript" src="/js/jqgrid/js/i18n/grid.locale-cn.js"></script>

    <script>
        $(function () {
            //页面加载完成之后执行
            pageInit();
        });
        function pageInit() {
            //创建jqGrid组件
            jQuery("#list").jqGrid(
                {
                    url: '/admin/student',//组件创建完成之后请求数据的url
                    datatype: "json",//请求数据返回的类型。可选json,xml,txt
                    colNames: ['学号', '姓名', '性别', '初一', '初二','初三','高一','高二','高三','密码', '是初始密码?'],//jqGrid的列显示名字
                    colModel: [ //jqGrid每一列的配置信息。包括名字，索引，宽度,对齐方式.....
                        { name: 'sid', index: 'sid', "editable": true, edittype: "text", width: 100, align: "center" },
                        { name: 'name', index: 'name', "editable": true, edittype: "text", width: 100, align: "center" },
                        { name: 'sex', index: 'sex', "editable": true, edittype: "select", editoptions: { value: "1:男;2:女" }, width: 100, align: "center" },
                        { name: 'grade1', index: 'grade', "editable": true, edittype: "checkbox", formatter: 'checkbox', editoptions: { value: "初一", defaultValue: '初一' }, width: 20, align: "center" },
                        { name: 'grade2', index: 'grade', "editable": true, edittype: "checkbox", editoptions: { value: "初一:初二:初三:高一:高二:高三" }, width: 20, align: "center" },
                        { name: 'grade3', index: 'grade', "editable": true, edittype: "checkbox", editoptions: { value: "1:初一;2:初二;3:初三;4:高一;5:高二;6:高三" }, width: 20, align: "center" },
                        { name: 'grade4', index: 'grade', "editable": true, edittype: "checkbox", editoptions: { value: "1:初一;2:初二;3:初三;4:高一;5:高二;6:高三" }, width: 20, align: "center" },
                        { name: 'grade5', index: 'grade', "editable": true, edittype: "checkbox", editoptions: { value: "1:初一;2:初二;3:初三;4:高一;5:高二;6:高三" }, width: 20, align: "center" },
                        { name: 'grade6', index: 'grade', "editable": true, edittype: "checkbox", editoptions: { value: "1:初一;2:初二;3:初三;4:高一;5:高二;6:高三" }, width: 20, align: "center" },
                        { name: 'password.pwd', sortable: false, search: false, width: 100, align: "center" },
                        { name: 'password.isInitial', sortable: false, width: 100, align: "center" },
                    ],
                    rowNum: 20,//一页显示多少条
                    rowList: [10, 20, 30, 40, 50, 100],//可供用户选择一页显示多少条
                    pager: '#pager',//表格页脚的占位符(一般是div)的id
                    sortname: 'sid',//初始化的时候排序的字段
                    sortorder: "desc",//排序方式,可选desc,asc
                    mtype: "post",//向后台请求数据的ajax的类型。可选post,get
                    viewrecords: true,
                    height: "100%",
                    // 设置宽度为容器的宽度
                    width: $(".container-fluid").width() - 2,
                    // caption: "JSON Example",//表格的标题名字
                    // 定义jsonReader来跟服务器端返回的数据做对应
                    jsonReader: {
                        root: "rows", //包含实际数据的数组
                        page: "currpage", //当前页
                        total: "totalpages", //总页数
                        records: "totalrecords", //查询出的记录数
                        cell: "cell"
                    },
                    multiselect: true,
                    multiboxonly: true, //只有选择checkbox才会起作用
                });
            /*创建jqGrid的操作按钮容器*/
            /*可以控制界面上增删改查的按钮是否显示*/
            jQuery("#list").jqGrid('navGrid', '#pager', { edit: true, add: true, del: true });

            jQuery("#list").jqGrid('setGroupHeaders', {
                useColSpanStyle: false,
                groupHeaders: [
                    { startColumnName: 'grade1', numberOfColumns: 6, titleText: '<em>年级</em>' },
                ]
            });

            $(window).resize(function () {
                $("#list").setGridWidth($(".container-fluid").width() - 2);
                $("#list").setGridWidth($(".container-fluid").width() - 2);
            });
        }
    </script>
</body>

</html>