<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>选修课报名系统</title>


    <link href="/css/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Page level plugin CSS-->
    <link href="/css/datatables/dataTables.bootstrap4.css" rel="stylesheet">
</head>

<body id="page-top">
    <!-- Nav -->
    <% include common/nav %>

    <div id="wrapper">

        <!-- Sidebar -->
        <% include common/sidebar %>

        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin">首页</a>
                    </li>
                    <li class="breadcrumb-item active">所有学生</li>
                    <li class="breadcrumb-item">
                        <a href="/admin/student/import">导入学生</a>
                    </li>
                </ol>

                <!-- DataTables Example -->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        学生列表</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>学号</th>
                                        <th>姓名</th>
                                        <th>性别</th>
                                        <th>年级</th>
                                        <th>密码</th>
                                        <th>密码类型</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>学号</th>
                                        <th>姓名</th>
                                        <th>性别</th>
                                        <th>年级</th>
                                        <th>密码</th>
                                        <th>密码类型</th>
                                    </tr>
                                </tfoot>
                                <tbody id="tableBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

            <!-- Sticky Footer -->
            <% include common/footer %>

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <% include common/toTopBtn %>

    <!-- Logout Modal-->
    <% include common/logout %>

    <!-- Bootstrap core JavaScript-->
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/js/jquery/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="/js/chart.js/Chart.min.js"></script>
    <script src="/js/datatables/jquery.dataTables.js"></script>
    <script src="/js/datatables/dataTables.bootstrap4.js"></script>
    <!-- 引入underscore,使用它的模板引擎 -->
    <script src="/js/underscore_mod@@.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <!-- <script src="/js/demo/datatables-demo.js"></script> -->

    <script type="text/template" id="template">
        <tr>
            <td>@@= sid @@</td>
            <td>@@= name @@</td>
            <td>@@= sex @@</td>
            <td>@@= grade @@</td>
            <td>@@= password.pwd @@</td>
            <td>@@= password.isInitial @@</td>
        </tr>
    </script>
    <script>
        // 表格内容前端渲染
        var templateStr = $("#template").html();
        var compile = _.template(templateStr);
        var $tableBody = $('#tableBody');
        // .DataTable();
        $.post("/admin/student", (data) => {
            var domStr = "";
            _.each(data, (dictionary) => {
                if (dictionary.password.isInitial) {
                    dictionary.password.isInitial = "初始密码";
                } else {
                    dictionary.password.isInitial = "加密密码";
                }
                // 字段为空时补一个"",防止字段为空时报错
                if (dictionary.sid === undefined) {
                    dictionary.sid = "";
                }
                if (dictionary.name === undefined) {
                    dictionary.name = "";
                }
                if (dictionary.sex === undefined) {
                    dictionary.sex = "";
                }
                if (dictionary.grade === undefined) {
                    dictionary.grade = "";
                }

                domStr += compile(dictionary);
            })
            $tableBody.append(domStr);
            // console.log(data)
            var datatable = $('#dataTable').DataTable({
                language: {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                }
            });
        })
    </script>
</body>

</html>