<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>选修课报名系统</title>


    <link href="/css/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Page level plugin CSS-->
</head>

<body id="page-top">
    <!-- Nav -->
    <% include common/nav %>

    <div id="wrapper">

        <!-- Sidebar -->
        <% include common/sidebar %>

        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin">首页</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/admin/student">所有学生</a>
                    </li>
                    <li class="breadcrumb-item active">导入学生</li>
                </ol>

                <!-- DataTables Example -->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        导入Excel</div>
                    <div class="card-body">
                        <!-- 将上传控件放在iframe里,阻止页面刷新 -->
                        <p>表格要有三列数据 第一列：学号，第二列：姓名，第三列：年级</p>
                        <iframe src="/html/stufileform.html" frameborder="0" width="100%"></iframe>
                        <div class="form-group mx-sm-3 mb-2">
                                <a href="/admin/student" class="btn btn-primary btn-md" role="button" aria-pressed="true">学生列表</a>
                                <a href="/admin/student/import" class="btn btn-secondary btn-md" role="button" aria-pressed="true">重新上传</a>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

            <!-- Sticky Footer -->
            <% include common/footer %>

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <% include common/toTopBtn %>

    <!-- Logout Modal-->
    <% include common/logout %>

    <!-- Bootstrap core JavaScript-->
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/js/jquery/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>

    <script>
        
    </script>

</body>

</html>