<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>学生管理系统</title>
    <link type="text/css">
    </link>
</head>

<body>
    <section>
        <h1>学生管理系统</h1>
        <table id="biaoge2">
            <tr>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
                <th>籍贯</th>
            </tr>
        </table>
    </section>
     
    <script type="text/template">
        <tr>
            <td><%= name %></td>
            <td><%= age %></td>
            <td><%= sex %></td>
            <td><%= provice %></td>
        </tr>
    </script>
    <script type="text/javascript" src="/jquery.min.js"></script>
    <script type="text/javascript" src="/underscore.min.js"></script>
</body>

</html>