.Calendar {
    background-color: #fff;

    td,
    th {
        text-align: center;
        padding: 6px;
        font-size: 14px;
        width: 25px;
        line-height: 18px;
        transition: all 0.3s ease;
        user-select: none;
    }

    th {
        font-family: serif;
    }

    th.prevY,
    th.prevM,

    th.nextY,
    th.nextM {
        cursor: pointer;

        &:hover {
            background-color: #b8cde4;
        }

        &:active {
            background-color: #3178c9;
        }

    }



    td.cur {
        color: #000;
    }

    td.today {
        background-color: #b8cde4;
        color: #3178c9;
        font-weight: bold;
    }

    td {
        color: #c2c2c2;
        cursor: pointer;
        font-family: Calibri, Arial;

        &:hover {
            background-color: #b8cde4;
        }

        &:active {
            background-color: #3178c9;
            color: #fff;
        }
    }

    tfoot {
        td {
            color: #3178c9;
        }
    }
}