.Calendar {
    background-color: #fff;

    td,
    th {
        text-align: center;
        padding: 6px;
        font-size: 14px;
        width: 25px;
        line-height: 18px;
        transition: all 0.3s ease;
        user-select: none;
    }

    th {
        font-family: serif;
    }

    td {
        cursor: pointer;
        font-family: Calibri, Arial;

        &:hover {
            background-color: #b8cde4;
        }
        &:active {
            background-color: #3178c9;
        }
    }

    td.today {
        background-color: #3178c9;
    }
}