<footer class="sticky-footer bg-info">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright © xxx 2019</span>
        </div>
    </div>
</footer>