h1 {
    text-align: center;
}
table {
    text-align: center;
    width: 100%;
    background-color: #f0f0f0;
    font-size: 14px;
}
section {
    width: 800px;
    margin: 0 auto;
}

table, tr, td {
    border-collapse: collapse;
    /* border: 1px solid #000; */
}

td {
    width: 25%;
    line-height: 30px;
}

tr:nth-child(2n) {
    background-color: #8cc8f0;
}

th {
    background-color: #9b1818;
    color: #fff;
    line-height: 30px;
}

#tb1 {
    margin-bottom: 30px;
}

[href="/add"] {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #9b1818;
}